@import "../../scss/commonPatterns.scss";

.SingleBarter {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #333;
	padding: 15px;
	margin-bottom: 20px;

	&__body {
		@include barter-body;

		&-author {
			font-weight: bolder;
			margin: 10px 0 0 10px;
		}
	}

	&__footer {
		display: flex;
		gap: 7px;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 20px;
	}

	&__teach,
	&__learn {
		:last-child {
			font-weight: bold;
		}
	}

	&__options {
		display: flex;
		gap: 5px;
	}
}
